{% extends "admin/change_list.html" %}
{% load static %}

{% block content_title %}
    {{ block.super }}
    <div style="float: right; margin-top: -35px;">
        <a href="{% url import_csv_url %}" class="addlink">
            Import from CSV
        </a>
        <a href="{% url load_predefined_url %}" class="addlink" style="margin-left: 10px;">
            Load Predefined Data
        </a>
        <a href="{% url csv_template_url %}" class="viewlink" style="margin-left: 10px;">
            Download CSV Template
        </a>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .addlink, .viewlink {
            background: url({% static "admin/img/icon-addlink.svg" %}) 0 1px no-repeat;
            padding-left: 16px;
            text-decoration: none;
            color: #447e9b;
            font-weight: bold;
        }
        .viewlink {
            background: url({% static "admin/img/icon-viewlink.svg" %}) 0 1px no-repeat;
        }
        .addlink:hover, .viewlink:hover {
            color: #036;
        }
    </style>
{% endblock %}
